@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');


.container{
    background-color: white;
    width: 1920px;
    height: 1080px;
    top: 1080px;
    left: 0px;
    position: absolute;
    user-select: none;
}
.heading{
    width: 250px;
}

.header{
    font-size: 70px;
    position: absolute;
    font-family: Share Tech Mono, monospace ;
    top: -10px;
    left: 580px;
}

.para{
    font-family: Share Tech Mono, monospace ;
    font-size: 22px;
    top: 120px;
    position: absolute;
    text-align: center;
    width: 1500px;
    left: 180px;    
    transition: 0.5s;
}

.para:hover{
    transform: scale(1.2);
    top: 150px;
    transition: 0.5s;
}

.backtext{
    color: #b5b5b5;
    font-family: Share Tech Mono, monospace ;
    font-size: 500px;
    font-stretch: extra-expanded;
    position: absolute;
    top: 350px;
    left: 250px;
    opacity: 20%;
}


.engine{
    width: 600px;
    top: 300px;
    left: 620px;
    position: absolute;
}

.engine:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.turbo{
    position: absolute;
    font-family: Share Tech Mono, monospace ;
    font-weight: 900;
    top: 450px;
    left: 400px;
    font-size: 25px;
    color: #929191;
}

.turbonum{
    position: absolute;
    font-family: Share Tech Mono, monospace ;
    font-size: 100px;
    top: 430px;
    left: 400px;
}

.fuelimg{
    position: absolute;
    font-family: Share Tech Mono, monospace ;
    width: 50px;
    top: 650px;
    left: 340px;
}

.fuel{
    position: absolute;
    font-family: Share Tech Mono, monospace ;
    font-weight: 900;
    top: 720px;
    left: 410px;
    font-size: 25px;
    color: #929191;
}

.fuelnum{
    position: absolute;
    font-family: Share Tech Mono, monospace ;
    font-size: 100px;
    top: 570px;
    left: 400px;
}

.torque{
    position: absolute;
    font-family: Share Tech Mono, monospace ;
    font-weight: 900;
    top: 430px;
    left: 1400px;
    font-size: 25px;
    color: #929191;

}
.torquenum{
    position: absolute;
    font-family: Share Tech Mono, monospace ;
    font-size: 100px;
    top: 290px;
    left: 1390px;
}

.drop{
    position: absolute;
    width: 60px;
    top: 400px;
    left: 1310px;
}

.power{
    position: absolute;
    font-family: Share Tech Mono, monospace ;
    font-weight: 900;
    top: 590px;
    left: 1400px;
    font-size: 25px;
    color: #929191;
}

.powernum{
    position: absolute;
    font-family: Share Tech Mono, monospace ;
    font-size: 100px;
    top: 450px;
    left: 1390px;
}

.bolt{
    position: absolute;
    width: 60px;
    top: 540px;
    left: 1310px;
}

.speed{
    position: absolute;
    font-family: Share Tech Mono, monospace ;
    font-weight: 900;
    top: 740px;
    left: 1400px;
    font-size: 25px;
    color: #929191;
}

.speednum{
    position: absolute;
    font-family: Share Tech Mono, monospace ;
    font-size: 100px;
    top: 600px;
    left: 1390px;
}

.speedimg{
    position: absolute;
    width: 70px;
    top: 690px;
    left: 1310px;
}