@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');



.container{
    /* background-image: url(".\assets\Trueno background.png"); */
    width: 1900px;
    max-width: 1900px;
    position: unset;
    height: 1080px;
    margin: none;
    top: 0px;
    position: absolute;
    left: 0px;
    right: 0px;
    background: linear-gradient(53deg, #18191D 15.32%, #282A2E 45.06%, #282A2E 48.61%, #18191D 84.27%);
    backdrop-filter: blur(2px);
    user-select: none; /* Prevent text selection */
    
    
}

.language{
    font-family: Share Tech Mono, monospace;
    font-size: 25px;
    color: white;
    position: absolute;
    left: 1750px;
    transition: 0.5s;
}

.language:hover{
    transform: scale(1.5);
    transition: 0.5s;
    
}

.language:hover~.down{
    transform: scale(1.5);
    transition: 0.5s;
    left: 1780px;
}

.down{
    width: 15px;
    margin: 10px;
    position: absolute;
    left: 1775px;
    top: 17px;
    transition: 0.5s;
}

.icon{
    width: 40px;
    top: 25px;
    left: 40px;
    position: absolute;  
    transition: 0.5s;
    left: 1830px;
}

.icon:hover{
    transform: scale(1.2);
    transition: 0.5s;
}

.head{
    font-family: Amboy Regular, sans-serif;
    -webkit-text-stroke: 3px white;
   color: transparent;
   text-shadow:
       3px 3px 0 transparent,
     -1px -1px 0 transparent,  
      1px -1px 0 transparent,
      -1px 1px 0 transparent,
       1px 1px 0 transparent;
       position: absolute;
       font-size: 350px;
       left: 350px;
       margin-top:  150px;
       opacity: 50%;
       transition: 1s;
        animation: light 5s;
        animation-iteration-count: infinite;
}

.head:hover{
    opacity: 112%;
    transition: 1s;
    
}

@keyframes light {
    0% { opacity: 112%; }
    10% { opacity: 80%; }
    20% { opacity: 30%;}
    30% { opacity: 112%;}
    40% { opacity: 80%;}
    50% { opacity: 30%; }
    60% { opacity: 112%;}
    70% { opacity: 80%;}
    80% { opacity: 30%; }
    90% { opacity: 112%;}
    100% { opacity: 80%; }
  }

.navbar{
    width: 300px;
    position: absolute;
    top: 100px;
    z-index: 1000;
}

.backtext{
    font-family: Share Tech Mono, monospace;
    color: white;
    font-size: 70px;
    position: absolute;
    left: 860px;
    top: 80px;
    margin-top: -50px;
}


.list{
    list-style: none;
    padding: 70PX;  
    transition: 0.5s;
}


.items{
    text-decoration: none;
    color: white; 
    font-family:Share Tech Mono, monospace;
    position: fixed;
    font-size: 30px;
    transition: 0.5s;
}


.list:hover{
    transform: scale(1.5);
    transition: 0.5s;
    text-decoration: underline;
}



.car{
    position: absolute;
    width: 45%;
    top: 300px;
    left: 35%;
    transition: 0.5s;
}

.shadow{
    position: absolute;
    top: 570px;
    left: 35%;
    width: 45%;
    transform: rotateX(150deg);
    mix-blend-mode: multiply;
    filter: blur(4px);
    opacity: 50%;
    transition: 0.5s;
}

.audio{
    display: none;
}


.car:hover~ .shadow{
    transform: scale(1.1) rotateX(150deg);
    transition: 0.5s;
    top: 570px ;
    animation: inv 0.5s;
    animation-iteration-count: infinite;
}
    

@keyframes inv {
    0% { transform: translate(1px, 1px) rotatex(150deg); }
    0% { transform: translate(1px, 1px) rotatex(150deg); }
    10% { transform: translate(-1px, -2px) rotatex(150deg); }
    20% { transform: translate(-3px, 0px) rotatex(151deg); }
    30% { transform: translate(3px, 2px) rotatex(150deg); }
    40% { transform: translate(1px, -1px) rotatex(150deg); }
    50% { transform: translate(-1px, 2px) rotatex(150deg); }
    60% { transform: translate(-3px, 1px) rotatex(150deg); }
    70% { transform: translate(3px, 1px) rotatex(150deg); }
    80% { transform: translate(-1px, -1px) rotatex(150deg); }
    90% { transform: translate(1px, 2px) rotatex(150deg); }
    100% { transform: translate(1px, -2px) rotatex(150deg); }
  }

.car:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;

}

.car:hover~.audio{
    display: block;

}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }







.bottom{
    font-size: 25px;
    font-family: Share Tech Mono, monospace;
    position: absolute;
    height: 20px;
    width: 1530px;
    color: white;
    top: 700px;
    left: 300px;
    text-align: center;
}

.footer{
    position: absolute;
    top: 900px;
    left: 300px;
}

.footlist{
    list-style: none;
    padding: 40px;
    display: inline-block;
    transition: 0.5s;
}


.footitems{
    text-decoration: none;
    color: White; 
    font-family: Share Tech Mono, monospace;
    font-size: 30px;
}  

.footlist:hover{
    transform: scale(1.5);
    transition: 0.5s;
}


.speed{
    position: absolute;
    top: 600px;
    left: 600px;
    transition: 0.5s; 
}
.dot{
    width: 50px;
    top: 0px;
    position: absolute;
    transition: 0.5s;
}

.kph{
    font-family: Share Tech Mono, monospace;
    color: white;
    font-size: 20px;
    position: absolute;
    width: 700px;
    left: 70px;
    top: -20px;
    transition: 0.5s;
}

.speed:hover{
    transform: scale(1.1);
    transition: 0.5s; 
}

.power{
    position: absolute;
    top: 500px;
    left: 1550px;
    transition: 0.5s; 
}
.dot2{
    width: 50px;
    top: 0px;
    position: absolute;
    transition: 0.5s;
}

.bph{
    font-family: Share Tech Mono, monospace;
    color: white;
    font-size: 20px;
    position: absolute;
    width: 700px;
    left: 70px;
    top: -20px;
    transition: 0.5s;
}

.power:hover{
    transform: scale(1.1);
    transition: 0.5s; 
}